<!DOCTYPE html>
<html>
<head>
  <title>Govan Bargains</title>
  <style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      /* General */
      body {
        background-color: #3d5a80;
        font-family: sans-serif;
        margin: 0px;
      }
      
      main {
        margin: 36px;
        text-align: center;
      }
      
      h1 {
        text-align: center;
        font-size: 225%;
        color: black;
        margin-bottom: 36px;
      }
      
      h2 {
        text-align: center;
        font-size: 190%;
        margin-top: 48px;
        margin-bottom: 24px;
      }
      
      p {
        text-align: center;
        font-size: 165%;
        font-family: sans-serif;
        margin: 12px;
      }
      
      a {
        text-decoration: none;
      }

      #message-table {
        width: 80%;
        margin: 50px auto;
        background-color: white;
        text-align: center;
        border-collapse: collapse;
    }
    
    #message-table thead th {
        background-color: lightgrey;
        padding: 10px;
        font-family: "Arial", sans-serif;
        border: 1px solid black;
    }
    
    #message-table tbody td {
        padding: 10px;
        font-family: "Arial", sans-serif;
        border: 1px solid black;
    }
    

      </style>
</head>
<body>
  <%- include('header'); -%>
  <main>
    <table id="message-table">
        <thead>
          <tr class="header">
            <th id="User">Name</th>
            <th id="Email">Price</th>
            <th id="Message">Description</th>
          </tr>
        </thead>
        <tbody id="message-output">
          
        </tbody>
      </table>
  </main>
  <%- include('footer'); -%>
  <script src="admin.js"></script>
</body>
</html>
