<style>
     footer {
    background-color: #293241;
    border: 2px solid #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
  }
  
  footer p {
    font-size: 24px;
    padding: 12px;
    color: white;
    margin: 0;
  }
</style>

<footer>
    <p>14 London Road Govan | LE13 2KD</p>
    <p>0116 2299933384</p>
  </footer>