<!DOCTYPE html>
<html>
<head>
  <title>Govan Bargains</title>
  <style>

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #98c1d9;
}

#login-form,
#register-form {
  width: 400px; 
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

p {
  text-align: center;
}

p a {
  color: #3498db;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


  </style>
</head>
<body>
  <main>
    <h2>Govan Bargains Login:</h2>
    <form id="login-form">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
      <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
  </main>

  <script src="login.js"></script>
</body>
</html>
