<!DOCTYPE html>
<html>
<head>
  <title>Govan Bargains</title>

  <style>
body {
    background-color: #3d5a80;
    font-family: sans-serif;
    margin: 0px;
  }
  
  main {
    margin: 36px;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font-size: 225%;
    color: black;
    margin-bottom: 36px;
  }
  
  h2 {
    text-align: center;
    font-size: 190%;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  
  p {
    text-align: center;
    font-size: 165%;
    font-family: sans-serif;
    margin: 12px;
  }
  </style>

</head>

<body>
    <%- include('header'); -%>
    <h1> You have been logged out </h1>
    <%- include('footer'); -%>
</body>